body{
    margin: 0px;
}
.main{
    margin: 0px auto;
    width: 90%;
}

.header-content{
    display: flex;
    justify-content: space-around;
}
header #header-item{
    position: absolute;
    z-index: 99999;
    top: 15px;
    width: 94%;
}

.logo img{
    height: 38px;
    width: auto;

}
.nav-content{
    display: flex;
    gap: 2em;
}
.nav-item{
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    color:white;
}

.nav-item a:hover{
    text-decoration: none;
    color:white;
    background-color: rgb(5, 76, 78);
    padding: 4px;
    border-radius: 5px;
     }

.sign-in,.sign-out{
    width: 10em;
    height: 2em;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(5, 76, 78);
}

.menu{
    text-align: center;
    background: url(business-accompagnement.jpg) no-repeat center center;
    position: relative;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* filter: opacity(50%) */
}
h1{
    margin: 0px;
    color: white;
}
p.login{
    margin-top: 84px;
}
p,label{
    margin: 0px;
    color: white;
}
.menu p a{
    text-decoration: none;
    color:rgb(5, 76, 78);
}

.menu p a:hover{
    text-decoration: none;
    color:white;
    background-color: rgb(5, 76, 78);
    padding: 4px;
    border-radius: 5px;
}

#formulaire{
    display: flex;
    flex-direction: column;
}
#formulaire div p{
margin: 0px;
}

form input{
    margin: 15px;
    width: 10em;
    height: 2.5em;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgba(5, 76, 78);
    padding:0px 0px 0px 10px;
    color: white;
    border: none;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.523);
}

form div#long-input input{
    width:302px ;
}
.bottom-form{
    display: flex;
    justify-content: center;
    gap: 1.5em;
}
form div.bottom-form input{
    padding: 0px 4px;
    margin: 0px;
    height: 1.5em;
    width: 20px;
}
#register{
    margin-bottom: 30px;
}