header{
    background-color: rgb(78, 175, 236);
    padding:15px 0px;
    height: 40px;
    color: white;
}
body,html{
    margin: 0px;;
}

h1,h2,h3{
    text-align: center;
    padding: 10px;
    margin: 0%;
    color: white;
text-decoration:underline;
text-decoration-color:rgba(1, 14, 14, 0.356);
}

section{
    background: url(../images/Image9.png) no-repeat scroll;
    background-size: cover;
    margin:50px auto;
    width: 50%;
    height: 300px;
    border-radius: 25px;
    box-shadow: black 9PX 10PX 20PX 1px;

}

section div{
    padding: 50Px 0px;
}

.logo{
    text-decoration: none;
    margin-left: 10px;
    float: left;
    text-decoration: none;
}

.logo img{
    height: 38px;
}

.menu{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 12PX 0px;
}

.menu-link{
    padding: 0px;
    margin: 0px;
    list-style: none;
    color: white;
     }

.menu-link li{
    border-right: 2px white solid;
    float: left;
}

.menu-item a{
    color: white;
    text-decoration: none;
    padding: 0px 8px;
    font-weight: bold;
}
.menu-item a,.menu-item a:visited{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

.menu-item:last-child{
    border: none;
}

.menu-item a:hover,.menu-item a:active,.menu-item a:focus{
    color: #22aae2;
    text-decoration: underline;
    background-color: white;
}

.clear-display{
    clear: both;
    width: 1%;
}

.entete-page{
    background: url(../images/Image8.png) fixed no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 0px 0px 25px 25px;
}

.entete-page h1{
    margin: 0px;
    background-color: rgba(100, 27, 27, 0.61);
    color: white;
    text-decoration: none;
}

.images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.images span img{
    display:block;
    height: 100px;
    width: 100px;
}

.button{
    text-align: center;
}

.button-item{
    background-color: brown;
    color: white;
    height: 25px;
}

footer{
    text-align: center;
    font-size: smaller;
    background-color:rgb(78, 175, 236);
    width: 100%;
}

@media (max-width:625px) {
    .menu {
        display: none;
    }
    a.logo {
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:200px) {
   
    div.all-items{
        display: none;
    }
    div.avertissement{
        background-color: red;
        height: 800px;
        font-weight: bolder;
        color: #ffffff;
        text-align: center;
    }
    footer{
        position: fixed;
        bottom: 0px;
    }
}
@media (min-width:201px) {
    div.avertissement{
        display:none;
    }
     }
