body{
margin: 1% 35%;
background-color:#f3faff;
}

div.container {
border: 5px solid #ffffff;
background-color:#297f99;
box-shadow: 11px 7px 8px 0px rgba( 7 , 0 , 0 , 20%);
}

nav{
background-color: #ffffff;
}

h1{
text-align: center;
color: #ff5733;
}

div.navbar{
display: flex;
justify-content: space-between;
padding:10px 0px;
align-items: center;
}

div.logo{
display: flex;
align-items: center;
}

img {
height: auto;
width: 100px;
}

ul {
list-style: none;
display: flex;
}

a {
color:#297f99;
margin-left: 10px;
text-decoration: none;
}

a:hover{
background-color: #34b9d8;
color: #ffffff;
padding:10px;
border-radius: 10px;

}

div.formular form {
display:flex;
flex-direction:column;
margin: 20px 10px;
padding: 4px;
border-radius:15px;
background-color: #ff5733;
}

label{
margin-left:10px;
}

select , input {
margin:5px;
padding:15px;
border-radius:5px;
border: none;
outline: none;
}

input[type = "submit"]{
background:#34b9d8;
padding: 10px 20px;
color: white;
cursor: pointer;
}


p::first-letter{
font-size: 150%;
color:#ff5733;
}