body{
    margin: 0px;
}
header{
    display: grid;
    background-color: aqua;
    height: 400px;
    margin: 0px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
input{
    margin: 5px;
    height: 2em;
    width: 15em;
    border-radius: 15px;
    padding-left: 2em;
    
}
h2{
    margin: 0px;
}
#box{
    width: 2em;
    margin: auto;
}
.logo{
    display: flex;
    justify-content: left;
    margin-left:8px;
}
.body{
    background-color: rgb(5, 92, 92);
    height: 200px;
    margin: 0px;
}
.welcome{
    margin:0px;
    text-align: center;
    text-transform: capitalize;
}
a{ 
    text-decoration:none;
}
.login{
    background-color: aliceblue;
}
a:hover{
    background-color: white;
    color: brown;
    font-size: large;
    text-transform: capitalize;
}
a:active{
    color: rgb(0, 255, 140);
}
.nav{
    display: flex;
    justify-content: right;
    margin: 0px;
}
li{
    list-style: none;
    padding-left: 10px;
}
img{
    width: 50px;
    height: auto;
}