body{
    background-color: rgba(22, 91, 22, 0.625);
    margin: 0px;
}
#all-content{
    width: 70%;
    margin: 0px auto;
}
#heading-title{
    background-color: rgba(34, 11, 3, 0.959);
    color: rgb(109, 49, 6);
    text-align: center;
    height: 20px;
    padding: 8px 0px;
    box-shadow: 2px 3px 5px rgba(75, 26, 4, 0.869);
}
#heading-title h1{
    margin: 0px 0px ;
    color: white;
    text-transform: capitalize;
}
header{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
header h1 , header h2{
    margin: 0px;
}
#logo-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#logo{
    display: flex;
    justify-content:center;
    align-items: baseline;
}
#logo img{
height: 40px;
width: 40px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
nav ul{
    display: flex;
    gap: 2.5em;
    padding: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color:rgba(34, 11, 3, 0.959);
    font-weight:bolder;
}
nav a:hover{
    background-color:rgba(34, 11, 3, 0.959) ;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
#banner{
    position: relative;
    background:url(../images/IMG_20230606_142226.jpg) no-repeat;
    margin-top: none;
    height: 200px;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(75, 26, 4, 0.869);
}
#banner-content{
    position: absolute;
    bottom: 0px;
    background-color: rgba(17, 15, 15, 0.619);
    height: 30px;
    padding-left: 4px;
    padding-top: 10px;
    width: 99.5%;
    color: white;
    border-radius: 0px 0px 5px 5px;
}
.banner-button{
    position: absolute;
    right: 8px;
    bottom: 3px;
    background-color:rgba(34, 11, 3, 0.959) ;
    height: 22px;
    border: 2px solid rgba(34, 11, 3, 0.959);
    border-radius: 5px;
    /* text-align: center; */
    text-decoration: none;
    padding: 0px 4px 3px 4px;
    color: white;
}
.fleche{
    height: 20px;
    border: 0px;
    padding-top: 2px;
    border-radius: 25px;
}
#main{
    display: flex;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(75, 26, 4, 0.869);
}
aside{
    flex: 2;
    text-align: justify;
    background-color:rgba(34, 11, 3, 0.959);
    border-radius: 5px;
    margin: 6px 4px 5px 10px;
    padding: 0px 10px;
    color: white;
    position: relative;
}
aside .fleche{
    position: absolute;
    top: 154px;
    border-radius: 35px;
    left: 174px;
}
aside h1{
    text-align: center;
    color: white;
    text-transform: capitalize;
}
.mon-image {
    display: flex;
    justify-content: center;
}
.mon-image img{
    height:100px;
    width: auto;
}
article{
    text-align: justify;
    flex: 8;
    margin-left: 10px;
    border-radius: 5px;
    margin: 6px 6px 5px 10px;
    padding: 0px 8px;
}
article h1{
    text-align: center;
    text-transform: capitalize;
}
footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color:rgba(34, 11, 3, 0.959);
}
footer a img.fleche {
    position: relative;
    top: -15px;
    left: 2000%;
    height: 30px;
}
footer h1{
    color: white;
    font-size: small;
    text-align: center;
}
.info{
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.info-items{
    margin: 0px 25px;
}
.photos{
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mes-photos{
    margin: 0px;
}
.mes-photos img{
    height: 50px;
    width: 50px;
}
.references{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.references ul{
    list-style-type: none;
    margin: 8px 15px;
}
.references li a,footer a{
    text-decoration: none;
    color:rgba(75, 26, 4, 0.869);
}
.references li a:hover ,footer a:hover{
    background-color:rgba(34, 11, 3, 0.959) ;
    color: white;
    border-radius: 5px;
    padding: 5px;
 }

